
@{
    ViewBag.Title = "formulaireBootstrap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>formulaireBootstrap</h2>
<div class="container">
    <!-- premiere ligne -->
    <div class="row">
        <div class="col-md-1 bg-info"> case 1/12</div>
        <div class="col-md-4 bg-primary"> case 4/12</div>
        <div class="col-md-2 bg-success"> case 2/12</div>
        <div class="col-md-6 bg-warning"> case 5/12</div>
    </div>
    <div class="row">
        <div class="col-md-1 bg-primary"> case 1/12</div>
        <div class="col-md-4 bg-info"> case 4/12</div>
        <div class="col-md-2 bg-danger"> case 6/12</div>
    </div>
    <div class="row">
        <div class="col-md-1 bg-success"> case 1/12</div>
        <div class="col-md-4 bg-info"> case 4/12</div>
    </div>

</div>

